
.block{
    background: white;
    margin: 5%;
    padding: 5%;
    box-shadow: 1px 6px 6px 1px #ccc;
    border-radius: 0.5%;
}

.hidden{
    display: none;
}

.logo{
    width: 60px;
}

.add-element{
    margin: 2%;
}

.navbar ul li a{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

