  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
      Добавить
  </button>
      
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавит Водителя</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/add-owner" class="add-element" method="POST">
                <div class="form-group">
                    <label for="carType">Имя водителя</label>
                    <input type="text" class="form-control" id="carType" name="name">
                </div>
                <div class="form-group">
                    <label for="carModel">Номер водителя</label>
                    <input type="text" class="form-control" id="carModel" name="phone">
                </div>
                <div class="form-group">
                    <label for="carExpYear">Email</label>
                    <input type="email" class="form-control" id="carExpYear" name="email">
                </div>
              
                <div class="form-group">
                    <label for="carOwner">Хозяин</label>
                    <select class="form-control" id="carOwner" name="owner_id">
                        <option value="">Нет хозяин</option>
                    </select>
                </div>
                    <button type="submit" class="btn btn-primary float-right">Сохранить</button>
                    <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Отменить</button>
            </form>
        </div>
      </div>
    </div>
</div>